{% extends "base.html.j2" %}
{% block content %}
<h1>{{ title }}</h1>
{% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
<div class="dot-connect-container">
  {{ dot_svg | safe }}
</div>
{% endblock %}
